<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.memoir"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/memoir_icon"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.memoir.provider.MemoirContentProvider"
            android:authorities="com.memoir" />

        <activity
            android:name=".ui.AddPlace"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity android:name=".ui.AddNewEntry" >
        </activity>
       
        <activity
            android:name=".ui.AddHotel"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".ui.AddFlight"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".ui.AddTrip"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".ui.DetailViewActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.DetailTripViewActivity"></activity>
        <activity android:name=".ui.AddRestaurant"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >></activity>
    </application>

</manifest>